# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\My_Python\djangoDRF\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
